
body {background-color:rgba(0, 217, 255, 0.068) ;}

img {padding:10px;
    border: 1 px solid black;

}



.highlight {
color: blue;
background-color: rgb(226, 116, 43);
padding: 10px;
margin: 50px;
}


h2 {font-style: italic;}

main{
    margin: 25px;
    background-color:white;
    padding: 25px;
}

a:link {text-decoration:none;color:burlywood;}
a:hover {text-decoration:underline;color: aliceblue;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  p.hometown {
    background-color: yellow;
  }